<!DOCTYPE html>
<html>
    <head>
        <title>Amrita's Blog</title>
    </head>
    <body>
        <header>
            <h1>Amrita's Blog</h1>
            <p>Hi there !</p>
        </header>

        <article>
            <h2>My first blog post</h2>
            <p>Welcome! to my first post, it begins hereeeeee YAY!</p>
            <time>published 20 June 4:22 pm</time>
        </article>

        <article>
            <h2>My second blog post</h2>
            <p>Welcome! to my second post, its going on hereeeeee YAY!</p>
            <time>published 20 June 4:24 pm</time>
        </article>

    </body>
</html>